@charset "utf-8";
@use "../base/_variable" as v;

.primary-button {
	position: relative;
	display: block;
	width: 96%;
	padding: 0.8em 0.5em;
	margin: 3% auto 0;
	text-align: center;
	text-decoration: none;
	background: v.$bg-key;
	border: 1.5px solid v.$border-key;
	border-radius: 40px;

	> .text {
		margin: 0;
		font-size: v.fz-clamp(16);
		font-weight: 500;
		color: #fff;
		transition: color 0.2s;
	}

	&::after {
		position: absolute;
		top: 50%;
		right: 2em;
		display: block;
		width: 0.5em;
		height: 0.5em;
		content: "";
		border: 1px solid #fff;
		border-width: 2px 2px 0 0;
		transition: border-color 0.2s;
		transform: translate(0,-50%) rotate(45deg);
	}

	&:hover {
		> .text {
			color: v.$text-key;
		}

		&::after {
			border-color: v.$text-key;
		}
	}
}