@charset "utf-8";
@use "base/variable";
@use "base/base";

@use "components/wrapper-container";
@use "components/body-container";
@use "components/left-container";
@use "components/right-container";
@use "components/main-container";
@use "components/footer-container";
@use "components/fixed-cv-container";
@use "components/primary-button";
@use "components/splide";
@use "components/swipe-item";
@use "components/section-intro";
@use "helper";