@charset "utf-8";
@use "../base/_variable" as v;

.left-container {
	@include v.mq-max(xl){
		display: none;
	}

	@include v.mq-min(xl){
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: calc((100% - 585px) / 2);
		height: 100vh;
	}
}