@charset "utf-8";
@use "../base/_variable" as v;

.section-intro {
	padding: 12% 7.694%;
	color: #fff;
	background: no-repeat,;
	background-size: cover;

	> .title {
		width: 100%;
		margin: 0;
		font-weight: 700;

		@include v.fz(21);
	}
}