@charset "utf-8";
@use "../base/_variable" as v;

.primary-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	height: 64px;
	padding: 0.8em 1em;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	background: v.$bg-key;
	border: 1.5px solid v.$border-key;
	border-radius: 40px;
	cursor: pointer;

	> .text {
		margin: 0;
		font-size: v.fz-clamp(16);
		font-weight: 500;
		color: #fff;
		transition: color 0.2s;
	}
}