@charset "utf-8";
@use "../base/_variable" as v;

.section-faq {
	padding: 12% 7.694%;

	> .title {
	font-size: v.fz-clamp(20);
	font-weight: 500;
	color: v.$text-primary;
	}

	> .faq-list {
		margin: 5% 0 0;
	}
}