@charset "utf-8";
@use "../base/_variable" as v;

.swipe-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  aspect-ratio: 9 / 14;
  background: #ccc;

  font-size: 40px;

  > .primary-button.-fixed {
    position: absolute;
    right: 16px;
    top: 16px;
    width: max-content;
  }
}