@charset "utf-8";
@use "_variable" as v;

// ==========================================================
// !HTML5 elements
// ==========================================================
header,
footer,
nav,
main,
section,
aside,
article {
	display: block;
}

figure,
figcaption {
	padding: 0;
	margin: 0;
}

sup {
	font-size: 75%;
	vertical-align: top;
}

sub {
	font-size: 75%;
}

// ==========================================================
// !Reseting
// ==========================================================
:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	border-style: solid;
	border-width: 0;
}

body {
	font-family: v.$font-family;
	font-feature-settings: "palt";
	line-height: 1.5;
	color: v.$text-primary;
	background: #fff none;
	text-size-adjust: none;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td {
	padding: 0;
	margin: 0;
}

input,
textarea {
	margin: 0;
	font-size: 100%;
}

label {
	cursor: pointer;
}

table {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

fieldset,
img {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q::after,
q::before {
	content: "";
}

abbr,
acronym {
	border: 0;
}

// .form-container {
// 	p {
// 		font-size: 12px !important;
// 	}
// }